[Unit]
Description=Battle Bot Bluetooth Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/redefined-destruction/Bluetooth/BluetoothControl.py

[Install]
WantedBy=multi-user.target